<header>
    <div class="navBar-container">

        <nav>
            <ul>
                <li><a href="#" id="home">Home</a></li>
                <li><a href="#" id="boards-button">Boards</a></li>

                {% if session.get('username') == None %}
                <li><a href="#" id="registration">Registration</a></li>
                <li><a href="#" id="login">Login</a></li>
                <li id="sign">You are signed out</li>
                {% else %}
                <li><a href="#" id="logout">Logout</a></li>
                <li id="sign">Logged in as {{session.get('username')}}</li>
                {% endif %}

            </ul>
        </nav>

    </div>
</header>